<!DOCTYPE html>
<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/quartz/bootstrap.min.css"/>
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
		<title>WEB-APP</title>
		<style type="text/css">
			a:active,a:hover,a:visited,a:link {
				text-decoration: none;
				color: black;
			}
			button {
				background-color: white;
				color :grey;
				border-radius: 10px;
			}
			button:hover {
				background-color: white;
				color: black;
			}
		</style>
	</head>
	<body>
		<div class="container">
		
			<h1 style="text-align: center;"> WEB-APP</h1><br><br>
			
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			
				
			  
				  <div class="collapse navbar-collapse" id="navbarColor02">
					<ul class="navbar-nav me-auto">
					 <li class="nav-item">
						<a class="nav-link" href="upload-file">File Upload</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="file-directory">File Directory</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="public-key-directory">Download Public Key</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="register">User Registration</a>
					  </li>
					</ul>
				
				  </div>
				</div>
			  </nav>

		
		<br><br>
		
		<div class="card border-secondary mb-3" style="max-width: 80rem; margin-left: 7%;">
			
			<div class="card-body">
			  <h4 class="card-title">Instructions</h4>
			  <ul class="card-text">
				<li><i>User can upload the file to the cloud in a secured manner.</i></li><br>
				<li><i>User can choose from the list of all the different files that are present on the cloud provided he has the required credentials for decrypting the file.</i></li><br>
				<li><i>User can download public key associated with the user with whom the file transfer is to take place.</i></li><br>
				<li><i>To upload the file to cloud storage the user needs to be registered so that his file can be shared with the other desired person in an instant.</i></li><br>
			</ul>
			</div>
			</div>
			
		
	</div>
	</body>
</html>