<!DOCTYPE html>
<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/quartz/bootstrap.min.css"/>
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
		<title></title>
		<style type="text/css">
			button {
				color: black;
				width: 10vw;
			}
			button:hover {
				background-color: darkgrey;
				width: 10vw;
			}
		</style>
	</head>
	<body>
		
			<h1 style="text-align: center;">  WEB-APP </h1><br><br>
			<div style="margin-left: 30%;">
			<h3>Your one-time generated private key is:<br><br> {{privatekey}}</h3>
			<br>
			<p style="font-size: 30px"><b>Copy and save this key.</b></p><br>
			</div>
			<a href="/"><button class="btn btn-lg btn-primary" style="font-size:20px; margin-left: 45%;">Home</button></a>
		
	</body>
</html>