<!DOCTYPE html>
<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/quartz/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
		<title>WEB-APP</title>
	</head>
	<body>
		
			<h1 style="text-align: center;">WEB-APP</h1><br><br>

			<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			
				
			  
				<div class="collapse navbar-collapse" id="navbarColor02">
				  <ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link" href="home">Home</a>
					  </li>
				   <li class="nav-item">
					  <a class="nav-link" href="upload-file">File Upload</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="file-directory">File Directory</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="public-key-directory">Download Public Key</a>
					</li>
				
				  </ul>
			  
				</div>
			
			</nav>

		
			<br><br>
			<div class="alert alert-dismissible alert-success">
				<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
				<strong style="font-size: 1.5rem;">You have successfully uploaded a file.</strong> 
			  </div>
		
			</div>

			
		
		</body>
	
</html>