<!DOCTYPE html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/quartz/bootstrap.min.css"/>
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
		<title>WEB-APP</title>
	</head>
	<body>
	
			<h1 style="text-align: center;"> WEB-APP </h1><br><br>
			<div class="container" style="font-size:25px">
			
				<div class="card text-white bg-secondary mb-3" style="max-width: 80rem;text-align: center;">
					<div class="card-header" style="text-align: center;">Select the file to be uploaded</div>
					<div class="card-body"  style="text-align: center;">
						<form action = "/data" method = "POST" enctype = "multipart/form-data" style="margin-left:15%;">
							<input type = "file" name = "file" required>
							
							<br><br><input type = "submit" class="btn btn-info btn-lg" style="margin-right: 30% ;" >
						</form>
					  <p class="card-text">The uploaded file has to be encrypted using the standalone application </p>
					</div>
			
			
			
		</div>
	</body>
</html>